nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-top: 4px;
  margin-left: 1%;

  color: rgb(61, 71, 216);
  font-size: 34px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
  display: inline-flex;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-top: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

nav li a {
  color: rgb(7, 121, 45);
  font-weight: 500;
  text-decoration: none;
}

nav li a:hover {
  color: rgb(24, 36, 204);
  font-size: 18px;
  font-weight: bold;
}

nav .search {
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

nav .search input {
  flex: 1;
  color: rgb(61, 71, 216);
  border: 1px solid skyblue;
  border-radius: 6px 0px 0px 6px;
  height: 36px;
  border-right: 0px;

}

nav .search button {
  background-color: rgb(149, 216, 149);
  width: 77px;
  color: rgb(0, 6, 7);
  border: 1px solid skyblue;
  border-radius: 0px 6px 6px 0px;
  height: 36px;
  border-left: 0px;

}
